@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

@import "tailwindcss";


*,*::before,*::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  text-color: white;
  font-family: "Montserrat", sans-serif;
}

.info::after{
  content: "_";
}

.jj{
  background: linear-gradient(90deg, rgb(121, 15, 219), rgb(212, 161, 255));
  padding: 0.2rem 0.5rem;
}

.section1{
  font-family: "Caveat", cursive;

}

.section1 span{
  background: linear-gradient(90deg, rgb(121, 15, 219), rgb(212, 161, 255));
}
// meida queries
@media (max-width: 1024px) {
  .navv{
    flex-direction: column;
    gap: 1rem;
  }
}